.DS_Store
.TranslationPlugin/
.bito/
.codeium/
.config/
.dlv/
.docker/
.gitconfig
.lesshst
.npm/
.nvm/
.pgadmin/
.ssh/
.viminfo
.yandex/
.zsh_history
.zsh_sessions/
Applications/
Documents/
Downloads/
GolandProjects/
Library/
Movies/
Music/
Pictures/
Public/
awesomeProject/
git-tut/
go/
java_error_in_goland_38228.log
java_error_in_goland_43243.log
java_error_in_goland_43266.log
tut-git/git commit
.idea/
